/* propriétées universelles à la page et à certaines balises */
* {
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    display: flex;
    justify-content: center;
}

.main-body {
    max-width: 1440px;
    min-width: 320px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

i {
    color: #0065FC;
}

.stars {
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-solid.fa-star.gris {
    color: #D9D9D9;
}

/* ----- BLOC HEADER - NAVIGATION ----- */

#logo {
    width: 61px;
    height: 19px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 50px;
}

.part-header {
    gap: 25px;
    display: flex;
}

.part-header a {
    padding-top: 26px;
}

nav :hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

input #recherche :focus{
    border-color: black;
}

/* ----- BLOC RECHERCHE ----- */

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.barre-recherche {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fa-location-dot {
    color: black;
    background: #F2F2F2;
    padding: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

button {
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

#recherche {
    border: 1px solid #F2F2F2;
    padding: 13px 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

form button {
    padding: 14px;
}

.fa-solid.fa-magnifying-glass {
    display: none;
    color: white;
    background-color: #0065FC;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
}

/* ----- BLOC FILTRES ----- */

.bloc-filtres {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filtres {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
}

.type-filtre :hover {
    background-color:#DEEBFF;
}

.type-filtre {
    min-width: fit-content;
}

.type-filtre  button {
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px;
    gap: 10px;
}

button span, .bloc-filtres p {
    font-size: 18px;
    font-weight: 700;
}

/* ----- BLOC INFO ----- */

.bloc-info {
    width: 447px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 37px;
}

.cercle-info {
    border-radius: 30px;
    border: 1px solid #D9D9D9;
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
}

.fa-info { 
    position: relative;
    left: 9px;
    top: 3px;
}

/* ----- COMMUN A BLOCS HEBERGEMENTS ET POPULAIRES ----- */

.blocs-hébergements-et-populaires {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.bloc-hébergements, .bloc-populaires {
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 20px;
    padding-top: 30px;
}

.liste-hébergements, .liste-populaires {
    padding: 20px 10px;
}

.texte-cartes {
    height: 33%;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}

.texte-cartes p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/* ----- BLOC HEBERGEMENTS ----- */

.bloc-hébergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.liste-hébergements {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    box-sizing: border-box;
}

.cartes-hébergements {
    width: 30%;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.img-hébergements {
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.cartes-hébergements .texte-cartes {
    padding: 10px;
}

a[href="Afficher-plus"] {
    font-weight: bold;
}

/* ----- BLOC POPULAIRES ----- */

.bloc-populaires {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titre-icone-pop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 20px;
}

.liste-populaires {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartes-populaires {
    height: 150px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    box-sizing: border-box;
}

.img-pop {
    width: 30%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.cartes-populaires .bloc-carte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 60%;
    min-width: 110px;
}

/* ----- BLOC ACTIVITES ----- */

.bloc-activités {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 8% 0%;
}

.liste-activités {
    display: flex;
    gap: 3%;
    padding-top: 20px;
}

.cartes-activités {
    display: flex;
    flex-direction: column;
    width: 25%;
    border-radius: 20px;
    border: 0px solid white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.cartes-activités h3 {
    padding: 15px;
    height: 30px;
}

.img-activites {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* ----- BLOC FOOTER ----- */

footer {
    background-color: #D9D9D9;
}

.footer {
    display: flex;
    padding: 45px;
    margin-top: 40px;
}
.part-footer {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.part-footer a {
    margin-top: 12px;
}

.part-footer span {
    font-size: 18px;
    font-weight: 700;
}

/* ----- RESPONSIVE TABLETTE ----- */

@media screen and (max-width :992px) {
    .bloc-filtres {
        flex-direction: column;
        align-items: flex-start;
    }

    .bloc-info {
        margin-top: 10%;
    }

    .blocs-hébergements-et-populaires {
        flex-direction: column;
    }

    .bloc-hébergements, .bloc-populaires {
        width: 95%;
    }

    .liste-populaires {
        flex-direction: row;
    }

    .cartes-populaires {
        width: 100%;
    }

    .cartes-populaires .bloc-carte {
        min-width: 0;
    }

    .img-pop {
        height: auto;
    }

    .bloc-carte {
        height: auto;
    }

    .bloc-activités {
        height: 390px;
        justify-content: space-evenly;
    }

    .cartes-activités {
        height: 100%;
    }

    .cartes-activités h3 {
        display: inline;
        vertical-align: middle;
    }

    .img-activites {
        width: 100%;
        height: 200px;
    }
}

/* RESPONSIVE MOBILE */

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    .main-body {
        margin: 0%;
        width: 100%;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0px;
    }

    .bloc-hébergements h2, .bloc-activités h2 {
        padding-left: 20px;
    }

    #logo {
        padding: 20px;
    }

    .recherche-et-filtres {
        margin: 20px;
    }

    .header nav {
        width: 100%;
        gap: 0px;
    }

    .part-header a {
        width: 100%;
        padding-bottom: 26px;
        border-bottom: #D9D9D9 solid 2px;
        text-align: center;
    }

    nav :hover {
        border-top: none;
        border-bottom: #0065FC solid 2px;
    }

    .barre-recherche {
        justify-content: center;
    }

    .fa-solid.fa-magnifying-glass {
        display: block;
    }

    button {
        display: none;
    }

    .bloc-filtres {
        height: auto;
        width: 100%;
    }

    .filtres {
        flex-wrap: wrap;
        justify-content: center;
    }

    .type-filtre {
        width: 45%;
    }

    .type-filtre button{
        width: 100%;
        max-width: 250px;
        padding: 10px 20px;
    }

    .type-filtre button span {
        font-size: 14px;
    }

    .bloc-info {
        width: 100%;
        justify-content: flex-start;
        gap: 10px;
    }

    .blocs-hébergements-et-populaires {
        flex-direction: column-reverse;
        box-sizing: border-box;
    }

    .bloc-hébergements, .bloc-populaires, .bloc-activités {
        width: 100%;
        min-width: auto;
        height: fit-content;
        border-radius: 0px;
        padding-left: 0;
        padding-right: 0;
    }

    .bloc-hébergements {
        background-color: white;
    }

    .liste-populaires, .liste-hébergements, .liste-activités {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    .liste-activités {
        align-items: center;
        padding-top: 20px;
        gap: 30px;
    }

    .cartes-hébergements, .cartes-activités {
        width: 100%;
    }

    .cartes-populaires {
        width: 100%;
        height: 150px;
    }

    .img-hébergements, .img-activites {
        width: 100%;
    }

    .img-pop {
        width: 140px;
    }

    #liste-activités {
        padding-left: 20px;
    }

    .footer {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }

    .part-footer {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    a[href="Afficher-plus"] {
        display: none;
    }
}