* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-around;
}
.part-header {
    display: flex;
    gap: 25px;
}

footer {
    background-color: #D9D9D9;
}

.footer {
    display: flex;
    justify-content: space-around;
}
.part-footer {
   display: flex;
   flex-direction: column;
}