/* propriétées universelles à la page et à certaines balises */
* {
    margin: 0;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

body {
    max-width: 1400px;
    min-width: 320px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

i {
    color: #0065FC;
}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.stars {
    margin-top: 5px;
    margin-bottom: 5px;
}

.fa-solid.fa-star.gris {
    color: #D9D9D9;
}

button {
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/* ----- BLOC HEADER - NAVIGATION ----- */

#logo {
    width: 61px;
    height: 19px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 50px;
}

.part-header {
    gap: 25px;
    display: flex;
}

.part-header a {
    padding-top: 26px;
}

nav :hover {
    color: #0065FC;
    border-top: #0065FC solid 2px;
}

input #recherche :focus{
    border-color: black;
}

/* ----- BLOC RECHERCHE ----- */

form {
    margin-top: 20px;
    margin-bottom: 20px;
}

.barre-recherche {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fa-location-dot {
    color: black;
    background: #F2F2F2;
    padding: 16px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

#recherche {
    border: 1px solid #F2F2F2;
    padding: 13px 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
}

input :focus {
    outline: none;
    border-color: red;
}

label :focus {

}

form button {
    padding: 14px;
}

.fa-solid.fa-magnifying-glass {
    display: none;
    color: white;
    background-color: #0065FC;
    padding: 15px;
    border-radius: 0px 15px 15px 0px;
}

/* ----- BLOC FILTRES ----- */

.bloc-filtres {
    width: 914px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 32px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.filtres {
    width: 828px;
    display: flex;
    justify-content: space-between;
}

.filtres :hover {
    background-color:#DEEBFF;
    ;
}

.type-filtre {
    background-color: white;
    display: flex;
    align-items: center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 17px;
    gap: 10px;
}

/* ----- BLOC INFO ----- */

.bloc-info {
    width: 447px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 37px;
}

.cercle-info {
    border-radius: 30px;
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
}

.fa-info { 
    position: relative;
    left: 9px;
    top: 3px;
}

/* ----- COMMUN A BLOCS HEBERGEMENTS ET POPULAIRES ----- */

.blocs-hébergements-et-populaires {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.bloc-hébergements, .bloc-populaires {
    background-color: #D9D9D9;
    border-radius: 15px;
    padding: 20px;
    padding-top: 30px;
}

.liste-hébergements, .liste-populaires {
    padding: 10px;
}

.texte-cartes {
    height: 33%;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
}

.texte-cartes p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

/* ----- BLOC HEBERGEMENTS ----- */

.bloc-hébergements {
    width: 65%;
    min-width: fit-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
}

.liste-hébergements {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    box-sizing: border-box;
}

.cartes-hébergements {
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 30%;
}

.img-hébergements {
    width: 246px;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.cartes-hébergements .texte-cartes {
    padding: 10px;
}

/* ----- BLOC POPULAIRES ----- */

.bloc-populaires {
    width: 32%;
    min-width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.titre-icone-pop {
    display: flex;
    justify-content: space-between;
}

.liste-populaires {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartes-populaires {
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    box-sizing: border-box;
}

.img-pop {
    width: 33%;
    height: 134px;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.cartes-populaires .bloc-carte {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

/* ----- BLOC ACTIVITES ----- */

.bloc-activités {
    height: 493px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
}

.liste-activités {
    display: flex;
    gap: 3%;
}

.cartes-activités {
    display: flex;
    flex-direction: column;
    gap: 3%;
    width: 302px;
    height: 444.51px;
    border-radius: 20px;
    border: 1px solid #D9D9D9;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.cartes-activités h2 {
    padding-left: 15px;
}

.img-activites {
    width: 302px;
    height: 88%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

/* ----- BLOC FOOTER ----- */

footer {
    background-color: #D9D9D9;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 45px;
    margin-top: 40px;
}
.part-footer {
   display: flex;
   flex-direction: column;
}

.part-footer a {
    margin-top: 12px;
}

/* ----- RESPONSIVE TABLETTE ----- */

@media (max-width :991px) {
    .bloc-filtres {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .filtres {
        justify-content: left;
        gap: 20px;
    }

    .bloc-info {
        margin-top: 10%;
    }

    .blocs-hébergements-et-populaires {
        flex-direction: column;
    }

    .bloc-hébergements, .bloc-populaires {
        width: 100%;
    }

    .liste-populaires {
        flex-direction: row;
    }

    .cartes-populaires {
        min-width: 30%;
    }

    .liste-activités {
     
    }

    .cartes-activités {

    }
}

/* RESPONSIVE MOBILE */

@media (max-width: 767px) {
    .blocs-hébergements-et-populaires {
        flex-direction: column-reverse;
    }

    .bloc-hébergements, .bloc-populaires, .bloc-activités {
        width: 100%;
    }

    .liste-activités {
        flex-direction: column;
    }

    .fa-solid.fa-magnifying-glass {
        display: block;
    }

    button {
        display: none;
    }
}